:root {
  --var-dark-blue: hsl(212, 21%, 14%);
  --var-gray-blue: hsl(228, 12%, 48%);
  --var-white: hsl(0, 0%, 100%);
  --var-light-tan: rgb(242, 235, 228);
  --var-green: rgb(62, 128, 103);
}

body {
  background-color: var(--var-light-tan);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--var-white);
  width: 365px;
  height: auto;
  border-radius: 10px;
}

.text-content {
  padding: 30px;
}

.product-img {
  background-image: url("./images/image-product-mobile.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
  width: 100%;
  height: 275px;
}

.product-category {
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  letter-spacing: 5px;
  font-size: 12px;
  color: var(--var-gray-blue);
}

.product-title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.product-description {
  font-family: "Montserrat", serif;
  color: var(--var-gray-blue);
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sale-price {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: var(--var-green);
  font-weight: 700;
  margin: 20px 0px;
}

.og-price {
  font-family: "Montserrat", serif;
  font-size: 12px;
  text-decoration: line-through;
  color: var(--var-gray-blue);
}

.button {
  background-color: var(--var-green);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: var(--var-white);
  font-family: "Montserrat", serif;
  font-weight: 500;
  border-radius: 10px;
}

.button img {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 700px) {
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 650px;
  }

  .text-content {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .product-img {
    background-image: url("./images/image-product-desktop.jpg");
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    height: 100%;
  }

  .text-content {
    background-color: var(--var-white);
    padding: 30px;
  }
}
